<div class="page-container">
  
      <header class="horizontal-container" style="align:center">
        <h1 style="margin:auto">Casamacchi</h1>
      </header>
  
      <section class="page-center horizontal-container">
          <nav class="page-left-menu">
            <left-menu></left-menu>  
            Menu di sinistra
          </nav>
          
          <section class="main horizontal-center">
            <main></main>
          </section> 
                                              
      </section>
      
      <footer> 
          powered by Angular
          <br/>
      </footer>
      
  </div>